<!DOCTYPE html>
<!--File  name: header,  Author's  name: Angela Liu (300714839),  web  site  name: Angela's potfolio,  file  description: this file show the header of each page-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">         <!-- Bootstrap style -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">   <!-- Bootstrap style -->
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">        <!-- Bootstrap style -->
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:300,400">        <!-- Google web font "Open Sans" -->
    <link rel='stylesheet' href='/Content/app.css' />                                        <!-- Template style -->
  </head> 
   <body>
    <nav class="navbar navbar-inverse" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                     </button>
                 <!--Logo-->
                  <div class="tm-header-inner" id="logo">
                    <img src="/Images/logo.png" alt="" /> 
                    <a href="#" class="navbar-brand tm-site-name">Angela Liu</a>
                 </div>
             </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if(title == "Home") { %>
          <li class="active"><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
        <% } else { %>
          <li><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
        <% } %>
        <% if(title == "About") { %>
         <li class="active"><a href="/about"><i class="fa fa-info fa-lg"></i> About</a></li>
        <% } else { %>
          <li><a href="/about"><i class="fa fa-info fa-lg"></i> About</a></li>
        <% } %>
        <% if(title == "Projects") { %>
          <li class="active"><a href="/projects"><i class="fa fa-gear fa-lg"></i> Projects</a></li>
        <% } else { %>
          <li><a href="/projects"><i class="fa fa-gear fa-lg"></i> Projects</a></li>
        <% } %>
        <% if(title == "Services") { %>
          <li class="active"><a href="/services"><i class="fa fa-map fa-lg"></i> Services</a></li>
        <% } else { %>
          <li><a href="/services"><i class="fa fa-map fa-lg"></i> Services</a></li>
        <% } %>
        <% if(title == "Contact") { %>
          <li class="active"><a href="/contact"><i class="fa fa-phone fa-lg"></i> Contact</a></li>
        <% } else { %>
          <li><a href="/contact"><i class="fa fa-phone fa-lg"></i> Contact</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->                      
 </nav>                                  
   
