<% include ../partials/header.ejs %>
<!--File  name: aboutMe,  Author's  name: Angela Liu,  web  site  name: Angela's potfolio,  file  description: this file show the information about myself and also include my resume-->
    <!-- MAIN CONTENT -->
<div class="container">
     <section class="tm-section">
            <div class="container-fluid">
                <div class="row tm-2-rows-sm-swap">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 tm-2-rows-sm-down-1">
                        <h3 class="tm-gold-text">About Angela</h3>
                        <p><img src="Images/me.jpg" alt="" align="right"  />Hi, I am Angela. </br>I currently study at Centennia College, Health Informatics program. </br>I am going to graduate at Fall 2017.<br>
                        I am experienced in Software Development, Web Design, Android App Development ...... and actively working as automation test analyst positions. Feel free to <a href="/contact">contact me</a> if you want to hire me.</p>
                        </p>
                    </div>
                </div>
                
                <div class="row tm-margin-t-mid">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-sm-m-b">
                        <h3 class="tm-gold-text">Education</h3>
                        <div class="large-7 columns">
                         <p>
                             <strong>Health Informatics Advanced Diploma</strong>
                            <br />Centennial College, Scarborough, Ontario
                            <br />
                        </p>
                        </div>
                         <div class="large-5 columns">
                             Winter 2013-Fall 2017
                        </div>
                       <!--Course I already taken-->
                        <div class="large-6 columns">
                         <p>
                         <strong>Relevant Courses Included:</strong><br />
                                 Programming 1, 2, 3 (C# programming)<br />
                                 Software Testing and Quality Assurance <br />
                                  Advanced Database Concepts
                         </p>
                     </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <h3 class="tm-gold-text">Experience</h3>
                        <div class="large-7 columns">
                         <p>
                             <strong>Automation Test Analyst</strong>
                            <br />CIBC, Toronto, Ontario
                            <br />
                        </p>
                        </div>
                         <div class="large-5 columns">
                             January 2014 - Present
                        </div>

                        <div class="large-7 columns">
                         <p>
                             <strong>Data Analyst</strong>
                            <br />iQor, Toronto, Ontario
                            <br />
                        </p>
                        </div>
                         <div class="large-5 columns">
                             April 2008 - December 2012
                        </div>
                    </div>
                </div>
          </section>
    </div>              
<% include ../partials/footer.ejs %>


