<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
      <div class="tm-home-img-container">      
      </div>
        <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                        <h2 class="tm-gold-text tm-title">Personal Tagline</h2>
                        <p class="tm-subtitle" class="tm-content-box"><strong>Professional delight:</strong><br>helping good organizations be more successful through high quality and affordable solutions.</p>
                        <p class="tm-subtitle" class="tm-content-box"><strong>Personal passion:</strong><br>enjoying the travelling and hiking<br>getting to the beach when I can<br>staying fit, reading, playing music.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                        <div class="tm-content-box">
                            <img src="images/tm-img-310x180-1.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">About Me</h4>
                            <p class="tm-margin-b-20">Automation Testing Analyst at CIBC<br> Data Analyst at Financial Institute <br>Application Support<br></p>
                            <a href="/about" class="tm-btn text-uppercase">Read More</a>    
                        </div>  
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="tm-content-box">
                            <img src="images/tm-img-310x180-2.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Projects</h4>
                            <p class="tm-margin-b-20">Centennial food order <br>Helpdesk System <br>Join Us</p>
                            <a href="/Projects" class="tm-btn text-uppercase">Detail</a>    
                        </div>  

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                        <div class="tm-content-box">
                            <img src="images/tm-img-310x180-3.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Services</h4>
                            <p class="tm-margin-b-20">Function and Automation Testing<br>Web Developer<br>Andriod Application Developer<br></p>
                            <a href="/services" class="tm-btn text-uppercase">Read More</a>    
                        </div>  

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                        <div class="tm-content-box">
                            <img src="images/tm-img-310x180-4.jpg" alt="Image" class="tm-margin-b-20 img-fluid">
                            <h4 class="tm-margin-b-20 tm-gold-text">Contact Me</h4>
                            <p class="tm-margin-b-20">Send me an email<br>Follow me at Twitter<br>Find me at LinkedIn</p>
                            <a href="/contact" class="tm-btn text-uppercase">Detail</a>    
                        </div>  

                    </div>
                </div> <!-- row -->

                <div class="row tm-margin-t-big">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="tm-2-col-left">
                            
                            <h3 class="tm-gold-text tm-title">Featured Work</h3>
                            <img src="images/tm-img-660x330-1.jpg" alt="Image" class="tm-margin-b-40 img-fluid">
                            <a href="/projects" class="tm-btn text-uppercase">Read More</a>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">

                        <div class="tm-2-col-right">

                            <div class="tm-2-rows-md-swap">
                                <div class="tm-overflow-auto row tm-2-rows-md-down-2">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <h3 class="tm-gold-text tm-title">
                                            Projects
                                        </h3>
                                        <nav>
                                            <ul class="nav">
                                                <li><a href="/projects" class="tm-text-link">Help Desk System</a></li>
                                                <li><a href="/projects" class="tm-text-link">CentennialCollege Food Order</a></li>
                                                <li><a href="/projects" class="tm-text-link">My Health Tracking</a></li>
                                                <li><a href="https://github.com/pele1250/Join-Us" class="tm-text-link">JoinUs</a></li>
                                                <li><a href="https://github.com/angelaliu2015" class="tm-text-link">GitHub</a></li>
                                            </ul>
                                        </nav>    
                                    </div> <!-- col -->

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 tm-xs-m-t">
                                        <h3 class="tm-gold-text tm-title">
                                            Useful Links
                                        </h3>
                                        <nav>
                                            <ul class="nav">
                                                <li><a href="http://google.com" class="tm-text-link">Google</a></li>
                                                <li><a href="https://www.mongodb.com/" class="tm-text-link">MongoBD</a></li>
                                                <li><a href="https://nodejs.org/en/" class="tm-text-link">NodeJS</a></li>
                                                <li><a href="http://expressjs.com/" class="tm-text-link">Express</a></li>
                                                <li><a href="http://getbootstrap.com/" class="tm-text-link">GetBootstrap</a></li>
                                            </ul>
                                        </nav>    
                                    </div> <!-- col -->
                                </div>                                                       
                            </div>
                        </div>                        
                    </div>
                </div> <!-- row -->
            </div>
          </section>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>




