<% include ../partials/header.ejs %>
<!--File  name: project,  Author's  name: Angela Liu,  web  site  name: Angela's Potfolio,  file  description: this file demos the projects I made in previous class -->
    <!-- MAIN CONTENT -->
    <div class="container">
     <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="tm-blog-post">
                            <h3 class="tm-gold-text">Projects</h3>
                            <p>There are 3 projects listed. "IT help desk system", "Health Status Tracking Android App", and "CentennialCollege Food Order Andriod App".</p>
                            <p>You can click the images or the link below to go to each project's detail page. Enjoy it! Feel free to contact me if you are intersted in my projects.</p>
                        </div>
                        
                        <div class="row tm-margin-t-big">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="tm-content-box">
                                    <img src="images/project1.png" alt="Image" class="tm-margin-b-30 img-fluid">
                                    <h4 class="tm-margin-b-20 tm-gold-text">IT Help Desk System </h4>
                                    <p class="tm-margin-b-20">GUI based helpdesk management system which can facilitate the daily operation of helpdesk.
                                        This application contains four main functions including log in, create tickets, update tickets, delete ticket and view ticket report.</p>
                                    <a href="#" class="tm-btn text-uppercase">Detail</a>    
                                </div>  
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="tm-content-box">
                                    <img src="images/project2.png" alt="Image" class="tm-margin-b-30 img-fluid">
                                    <h4 class="tm-margin-b-20 tm-gold-text">Health Tracking Android App</h4>
                                    <p class="tm-margin-b-20">This app’s target is to provide an alternative easier way to record, calculate and monitor body’s health.
                                        It could be used by both hospital or personal to monitoring body status, such as weight, height, blood pressure, heart rate, blood concentration, etc. </p>
                                    <a href="#" class="tm-btn text-uppercase">Read More</a>    
                                </div>  

                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

                                <div class="tm-content-box">
                                    <img src="images/project3.png" alt="Image" class="tm-margin-b-30 img-fluid">
                                    <h4 class="tm-margin-b-20 tm-gold-text">Centennial Food Order Andriod App</h4>
                                    <p class="tm-margin-b-20">The app helps students and college staff to place food orders using a mobile app; the application will be accessed via smart phones, tablets and on a standard PCs. Success in this app will also attract other colleges and universities to contract us to make their products easily accessible.</p>
                                    <a href="#" class="tm-btn text-uppercase">Detail</a>    
                                </div>

                            </div>    
                        </div>   

                    </div>

                    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">

                            <h3 class="tm-gold-text tm-title tm-margin-t-small">
                                Useful Links
                            </h3>
                            <nav>   
                                <ul class="nav">
                                    <li><a href="http://google.com" class="tm-text-link">Google</a></li>
                                    <li><a href="https://www.mongodb.com/" class="tm-text-link">MongoBD</a></li>
                                    <li><a href="https://nodejs.org/en/" class="tm-text-link">NodeJS</a></li>
                                    <li><a href="http://expressjs.com/" class="tm-text-link">Express</a></li>
                                    <li><a href="http://getbootstrap.com/" class="tm-text-link">GetBootstrap</a></li>
                                </ul>
                          </nav>
                    
                    </aside>  

                </div>   
                           
            </div>
        </section>
    </div>

<% include ../partials/footer.ejs %>


